* {
    animation: shake 1s;
 background-image: url(images/8ball_BG.jpg);
 background-size: contain;
 background-repeat: repeat-x;
 background-attachment: fixed;
font-family: Caveat;
font-size: 32px;
color: white;
}

.shake{
    animation: shake 1s;
}

@keyframes shake{
    0% { transform: translate(4px, 4px) rotate(0deg); }
    10% { transform: translate(-4px, -4px) rotate(-1deg); }
    20% { transform: translate(-7px, 0px) rotate(1deg); }
    30% { transform: translate(7px, 4px) rotate(0deg); }
    40% { transform: translate(4px, -4px) rotate(1deg); }
    50% { transform: translate(-4px, 4px) rotate(-1deg); }
    60% { transform: translate(-7px, 4px) rotate(0deg); }
    70% { transform: translate(7px, 4px) rotate(-1deg); }
    80% { transform: translate(-4px, -4px) rotate(1deg); }
    90% { transform: translate(4px, 4px) rotate(0deg); }
    100% { transform: translate(4px, -4px) rotate(-1deg); }

}
.btn{
    animation: shake 3s repeat;
    color: rgb(34, 187, 152);
}
#content{
    background: white;
    opacity: 0.8;
    width: 400px;
    margin:  auto;
    padding: 20px;
    border-radius: 35px;
    text-align: center;
}
#eightBall{
    width: 350px;
    height: 350px;
    background: black;
    
    margin: auto;
    margin-top: 10px;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#answer {
    font-size: 35px;
}